.bb-button {
  -webkit-animation-name: appear;
  -moz-animation-name: appear;
  -o-animation-name: appear;
  animation-name: appear;
  animation-timing-function: ease-in;
  animation-duration: 1.25s;
  animation-iteration-count: 1;
  margin: 0 2px;
  flex: .1;
}

.speech {
  vertical-align: baseline;
  margin-left: 5px;
  margin-right: 5px;
}

.bbdiv {
  padding: 7px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .bhidden {
    visibility: hidden;
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .phidden{
    visibility: hidden;
    display: none;
  }

  .bb-button span {
    font-size: 0;
  }
}

@keyframes appear {
  0% {
   opacity : 0;
    margin-top: 0px;
  }
  50% {
    margin-top : 5px;
  }
  100% {
    opacity: 1;
    margin-top : 5px;
  }
}
