<div class="bg-inverse" style="height: 100vh;">
  <img  routerLink ="/main" src="/assets/DeepBB.png" style="width:50px;left : 4px;position: absolute; top : 5px;outline: none !important;">
  <div class="d-flex container-fluid justify-content-center bg-dark text-white bbdiv">
  <p style="position: absolute;
    left: 64px;
    top: 16px;">Deep Bibi</p>
    <a href="#" routerLink="/chat" class="align-text-top btn btn-lg btn-info bb-button" ngbButtonLabel><i class="fa fa-comment speech"
                                                                                        aria-hidden="true"></i> chat</a>
    <a href="#" routerLink="/tweet" class="btn align-text-top btn-lg btn-primary bb-button" ngbButtonLabel><i class="fa fa-twitter speech"
                                                                                          style="padding-right: 3px;"
                                                                                          aria-hidden="true"></i>tweet</a>
    <a href="#" routerLink="/speech" class="btn btn-lg btn-info bb-button container" ngbButtonLabel><img class="speech"
                                                                                    src="/assets/speech.svg"
                                                                                    height="25px"
                                                                                    width="25px"/>speech</a>
  </div>

<div class="container"><router-outlet></router-outlet></div>
</div>


