<div class="bg-inverse" style="height: 100vh;">
  <div class="d-flex container-fluid justify-content-center bg-dark text-white bbdiv">
    <a href="#" routerLink="/chat" class="align-text-top btn btn-lg btn-info bb-button" ngbButtonLabel><i class="fa fa-comment speech"
                                                                                        aria-hidden="true"></i> chat</a>
    <a href="#" routerLink="/tweet" class="btn align-text-top btn-lg btn-primary bb-button" ngbButtonLabel><i class="fa fa-twitter speech"
                                                                                          style="padding-right: 3px;"
                                                                                          aria-hidden="true"></i>tweet</a>
    <a href="#" routerLink="/speech" class="btn btn-lg btn-info bb-button container" ngbButtonLabel><img class="speech"
                                                                                    src="/assets/speech.svg"
                                                                                    height="25px"
                                                                                    width="25px"/>speech</a>
  </div>

<router-outlet></router-outlet>
</div>


