<div class="bg-inverse" style="height: 100vh;">
  <div class="d-flex container-fluid bg-dark text-white bbdiv">
    <div class="phidden">
      <img routerLink="/main" src="/assets/DeepBB.png"
              style="width:50px; height:50px;;outline: none !important;" >
      <span >Deep Bibi</span></div>

    <div>
      <a href="#" routerLink="/chat" class="btn btn-lg btn-info bb-button" ngbButtonLabel><i
        class="fa fa-comment speech"
        aria-hidden="true"></i> <span>chat</span></a>
      <a href="#" routerLink="/tweet" class="btn btn-lg btn-primary bb-button" ngbButtonLabel><i
        class="fa fa-twitter speech"
        style="padding-right: 3px;"
        aria-hidden="true"></i><span>tweet</span></a>
      <a href="#" routerLink="/speech" class="btn btn-lg btn-info bb-button " ngbButtonLabel><img class="speech"
                                                                                                  src="/assets/speech.svg"
                                                                                                  height="25px"
                                                                                                  width="25px"/><span>speech</span></a>
    </div>

    <a href="#" routerLink="/about" class="btn btn-lg btn-primary bb-button" ngbButtonLabel> <i class="fa fa-question-circle bhidden"></i> <span>about</span></a>

  </div>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>


